{% extends "auctions/layout.html" %}

{% block title %} {{ auction.item_name }} {% endblock %}

{% block body %}
    <h1> {{ auction.item_name }} </h1>

    {% if request.user.is_authenticated %}
        <form method="POST" action="{% url 'watch_auction' auction.id %}" class="form-inline">
            {% csrf_token%}
            {% if auction in request.user.watchlist.all %}
                <input class="btn btn-secondary btn-sm" type="submit" value="Remove from Watchlist" />
            {% else %}
                <input class="btn btn-secondary btn-sm" type="submit" value="Add to Watchlist" />
            {% endif %}
        </form>
    {% endif %}

    <p> {{ auction.item_description }} </p>

    <small>Sold by <b>{{ auction.user }}</b> </small>

    <h3>
        £
        {% if auction.bids.all.count > 0 %}
            {{ auction.bids.first.amount }}
        {% else %}
            {{ auction.start_bid }}
        {% endif %}
    </h3>




    <small>
        Bids: {{ auction.bids.all.count }}.
        {% if auction.bids.first.user == request.user %}
            Your bid is the current bid.
        {% endif %}
    </small>

    <form method="POST" action="{% url 'auction_bid' auction.id %}" class="form-inline">
        {% csrf_token %}
        <div class="form-group">

            {{ bid_form.amount }}

            <input class="btn btn-primary" type="submit" value="Place Bid" />
        </div>
    </form>


    <h3>Comments</h3>
    {% if request.user.is_authenticated %}
        <form method="POST" action="{% url 'post_comment' auction.id %}">
            {% csrf_token %}
            <div class="form-group">
                {{ comment_form.message }}
                <div>
                    <input class="form-group btn" type="submit" value="Post a comment" />
                </div>
            </div>
        </form>
    {% endif %}


    {% for comment in auction.comments.all %}
        <div class="card p-3 m-2 col-lg-12 col-sm-12">
            {{ comment }}
        </div>
    {% endfor %}

    <form method="POST">
    {% if request.user == auction.user %}
        <form>
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="End Auction" />
        </form>
    {% endif %}

{% endblock %}
